.loginBG{
    align-items: center;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.loginCard{
    position: fixed;
    top: 0;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #479dff;
    border-radius: 14px;
    height: fit-content;
    width: 85vw;
    padding: 22px 14px;
    flex-flow: column;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: black;
    box-shadow: 8px 8px rgb(0, 0, 0);
}

.txtField{
    background-color: #ffffff;
    color: black;
    width: 80%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    border-style: solid;
    margin: 4px;
    box-shadow: 2px 2px black;
    border-color: black;

}

.loginButton{
    background: #48ff66;
    padding: 12px;
    margin: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    border-style: solid;
    border-radius: 12px;
    color: #000000;
    width: 40%;
    margin-top: 1rem;
    box-shadow: 4px 4px #000000;
    border-color: black;
}

.loginButton:active{
    margin-left: 8px;
    margin-top: 16px;
    box-shadow: 0px 0px #000000;
}

#signupButton{
    margin-bottom: 4px;
    margin-top: 8px;
    background: #ffbd6c;
    color: rgb(0, 0, 0);
    box-shadow: 4px 4px #000000;
}

#signupButton:active{
    margin-top: 8px;
    box-shadow: 0px 0px black;
}

@media screen and (min-width: 800px){
    .loginCard{
        width: 55vw;
    }

    
    .txtField{
        width: 80%;
        padding: 14px;
        font-size: 1.1rem;
        border-radius: 12px;
        margin: 6px;
    }


    .loginButton{
        padding: 14px;
        margin: 4px;
        font-size: 1.1rem;
        font-weight: bold;
        width: 40%;
        margin-top: 1rem;
        box-shadow: 4px 4px #000000;
    }

    .loginButton:active{
        box-shadow: 4px 4px black;
    }

} 

