.hompageUi {
    background-color: white;
}

.chatList {
    background-color: #ffffff8c;
    width: 100%;
    height: 100vh;
    padding-right: 4px;
}

.chatItem {
    /* width: 93vw; */
    color: black;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 12px;
    margin: 8px 12px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    box-shadow: 3px 3px black;
    border-radius: 6px;
    border-color: black;
}

.chatItem:active, .chatItem:hover{
    color: white;
    background-color: black;
}

.chatItem p {
    font-weight: normal;
    color: rgb(136, 136, 136);
    font-size: 0.6rem
}

.chatItem img {
    border-radius: 100px;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 14px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.topBar {
    margin: 0.5rem;
    margin-top: -12px;
    background-color: #479dff;
    color: rgb(0, 0, 0);
    padding-left: 18px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-style: solid;
    box-shadow: 3px 3px black;
    border-radius: 6px;
}

.topBar p {
    font-size: 1.5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 4px 12px;
    width: fit-content;
    border-radius: 100px;
    margin: 0px 12px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.topBar p:active{
    border-style: dashed;
    border-width: 1px;
    color: black;
    margin: 0px 11px;
}