
@keyframes messageSend{
    0% { font-size: 0px; }    
    100% { font-size: 1rem; }
} 

.chatInterfaceBody{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.chatBox{    
    background: linear-gradient(120deg, #a7d0ff, #043975);
    border-radius: 16px;
    border-style: none;
    flex-flow: column;
    display: flex;
    width: 80vw;
    align-items: stretch;
    height: 80vh;
    box-shadow: 6px 6px black;
    flex-direction: column;
    justify-content: flex-end;
    border-style: solid;
    border-color: black;
}

.sendButton{
    background: #48ff66;
    border-radius: 100px;
    border-style: none;
    color: white;
    width: 20%;
    height: 60%;
    box-shadow: 4px 4px black;
    color: black;
    font-weight: bold;
}

.sendButton:active{
    box-shadow: 0px 0px black;
    margin-top: 4px;
}

.chatSection{
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding-bottom: 8px;
    padding-top: 12px;
    overflow-y: scroll;
    -ms-overflow-style: none;

}

.actionSection{
    height: 14%;
    max-height: 14%;
    max-height: 14%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: #002ec7;
    border-radius: 0px 0px 12px 12px;
    border-top-style: solid;
    border-color: black;
}

.msgTextField{
    width: 70%;
    border-radius: 100px;
    background-color: white;
    color: black;
    border-style: none;
    height: 60%;
    margin: 12px 8px 12px 0px;
    padding-left: 21px;
    font-size: 1.15rem;
    box-shadow: 4px 4px black;
}


.msgTextField:active{
    box-shadow: 0px 0px black;
    margin-top: 16px;
}


.msgContainer{
    width: 100%;
}

.msgSent{    
    background-color: #48ff66;
    width: fit-content;
    height: fit-content;
    min-height: 36px;
    border-radius: 24px 24px 0px 24px;
    margin: 0px 12px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    float: right;
    color: black;
    box-shadow: 4px 4px black;
    max-width: 80%;
    animation-name: messageSend;
    animation-duration: 0.35s;
}

.msgReceived{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    width: fit-content;
    max-width: 80%;
    color: black;
    min-height: 36px;    
    height: fit-content;
    float: left;
    border-radius: 24px 24px 24px 0px;
    margin: 12px 12px 12px 8px;
    padding: 12px;
    box-shadow: 4px 4px #000000;
    animation-name: messageSend;
    animation-duration: 0.35s;
}


.chatSection::-webkit-scrollbar{
    /* width: 0.4rem; */
    display: none;
    background-color: #fdc731;

}

.pageTopBar{

    width: 80vw;
    padding: 12px 14px;
    background: #ffffff;
    position: relative;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 2px 2px 8px black;
    display: flex;
    align-items: center;
    border-style: solid;

}


.menu{
    display: inline-block;
    float: right;
}

.menu ul{
    list-style: none;
    color: black;
}

.menu li{
    padding: 6px 12px;
    margin: 4px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 1px 1px black;
}

.menu li:hover{
    background-color: black;
    color: white;
    border-color: black;
}

#dropDownMenu{
    width: 150px;
    background-color: #ffffff;
    position: absolute;
    right: 7vw;
    top: 30px;
    display: none;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.774);
}

#personPic{
    width: 2.3rem;
    height: 2.3rem;
    border-color: #000000;
    border-style: solid;
    border-radius: 100px;
}

#personName{
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    margin-left: 1rem;
}

.topBarContainer{
    display: flex;
    align-items: center;
    width: 100%;
    /* padding: 12px; */
    padding-bottom: 0px;
}

#goBackBtn{
    height: 33px;
    width: 33px;
    padding: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    margin-right: 8px;
    background-color: white;
    box-shadow: 2px 2px #000000;

}

#goBackBtn:active{
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 6px;
    box-shadow: 0px 0px black;
}



